<div *ngIf="!changetoOrderPlaced">
<h2>Select Address</h2>
<br>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Add Address</button>
<br>
<br>
<br>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Enter Address Details Below</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        
        <div class="modal-body">
          <form #addressForm="ngForm" >
            <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Name:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="name" [(ngModel)]="addr.name" required class="form-control"  name="Name" placeholder="Enter Full Name" >
              </div>
             </div>
             </div>
             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Phone Number:</strong>
                </div>
                <div class="col-10">
              <input type="text"  required class="form-control"  [(ngModel)]="addr.phonenumber" name="phone" placeholder="Enter Phone Number" >
              </div>
             </div>
             </div>


             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Address Line 1:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="address1" required class="form-control" [(ngModel)]="addr.addrLine1" name="address1" placeholder="Enter Address" >
              </div>
             </div>
             </div>

             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Address Line 2:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="address2" required class="form-control" [(ngModel)]="addr.addrLine2" name="address2" placeholder="Enter Address" >
              </div>
             </div>
             </div>

             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Landmark:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="landmark" required class="form-control" [(ngModel)]="addr.landmark"  name="landmark" placeholder="Enter Landmark" >
              </div>
             </div>
             </div>

             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>City:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="city" required class="form-control" [(ngModel)]="addr.city" name="city" placeholder="Enter Your Current City" >
              </div>
             </div>
             </div>

             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>State:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="state" required class="form-control"  [(ngModel)]="addr.state" name="state" placeholder="Enter Your State" >
              </div>
             </div>
             </div>

             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Country:</strong>
                </div>
                <div class="col-10">
              <input type="text" id="country" required class="form-control" [(ngModel)]="addr.country" name="country" placeholder="Enter Country" >

              </div>
             </div>
             </div>

             <div class="form-group">
              <div class="row">
                <div class="col-2">
              <strong>Pin Code:</strong>
                </div>
                <div class="col-10">
              <input type="number" id="pin" required class="form-control"  [(ngModel)]="addr.pincode" name="pin" placeholder="Enter Pincode" >
              </div>
             </div>
             </div>
            </form>
            


          
        </div>
      
        <div class="modal-footer">
          <button type="button" (click)="addAddress()" data-dismiss="modal" class="btn btn-dark">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
    <div class="row">
    <div class="col">  

    <div class="row">
    <div class="col-9" *ngFor="let address of addresses">
        <div class="card"  style="width: 18rem;">
            <div class="card-header">
              <h3><strong>Address</strong></h3>
              <button type="button"  (click)="selectAddr(address.id,address)" class="btn btn-dark">Select</button>
            </div>
            <div class="card-body">
              <p class="card-text"><strong>Name :</strong>{{address.name}} </p>
              <p class="card-text"><strong>Phone Number:</strong>{{address.phonenumber}} </p>
              <p class="card-text"><strong>Address 1:</strong>{{address.addrLine1}} </p>
              <p class="card-text"><strong>Address 2:</strong>{{address.addrLine2}} </p>
              <p class="card-text"><strong>Landmark :</strong>{{address.landmark}} </p>
              <p class="card-text"><strong>City :</strong>{{address.city}} </p>
              <p class="card-text"><strong>State :</strong>{{address.state}} </p>
              <p class="card-text"><strong>Country :</strong>{{address.country}} </p>
              <p class="card-text"><strong>Pin Code :</strong>{{address.pincode}} </p>
            </div>
          </div>
        </div>
      </div>

      </div>

      <div class="col-md-3 order-md-2 mb-3">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
        </h4>
        <ul  class="list-group mb-3">
          <li *ngFor="let cart of cartitems" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{cart.productName}} x {{cart.qty}}</h6>
            </div>
            <span class="text-muted">{{(cart.qty*cart.price) | currency :"INR"}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
            <h6 class="my-0"><strong>Total</strong></h6>
            </div>
            <strong>{{(cartTotal) | currency :"INR"}}</strong>
            
          </li>

        </ul>
  
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-dark">Redeem</button>
            </div>
          </div>
        </form>
      </div>
     </div>
     <hr class="mb-4">
     <div class="row">
         <div class="col-2">
          <h4 class="mb-3">Payment</h4>
         </div>
         <div class="col">
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="cod" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
          <label class="custom-control-label" for="cod">COD</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" disabled required="">
          <label class="custom-control-label" for="credit">Credit card</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" disabled required="">
          <label class="custom-control-label" for="debit">Debit card</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" disabled required="">
          <label class="custom-control-label" for="paypal">PayPal</label>
        </div>
        </div>
     </div>

     </div>
     <hr class="mb-4">
     <div *ngIf="error.length>0" class="alert alert-danger" role="alert">
        {{error}}
      </div>
     <div class ="row">
       <div class="col">
            
           <button class="btn btn-dark" (click)="placeOrder()" type="submit">Place Order</button>
       </div>
       <br>
       <hr class="mb-4">
     </div>
  </div>
  <div *ngIf="changetoOrderPlaced">
    <div class="alert alert-success" role="alert">
      Your Order Has Been Placed!!
    </div>
    <div class="card">
      <div class="card-header">
        <h3><strong>Your Order Details</strong></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Mode of Payment:</strong>{{Order.mode}}</p>
        <p class="card-text"><strong>Order Status:</strong>{{Order.status}}</p>
        <p class="card-text"><strong>Name :</strong>{{Orderaddress.name}} </p>
        <p class="card-text"><strong>Phone Number:</strong>{{Orderaddress.phonenumber}} </p>
        <p class="card-text"><strong>Address 1:</strong>{{ Orderaddress.addrLine1}} </p>
        <p class="card-text"><strong>Address 2:</strong>{{ Orderaddress.addrLine2}} </p>
        <p class="card-text"><strong>Landmark :</strong>{{ Orderaddress.landmark}} </p>
        <p class="card-text"><strong>City :</strong>{{ Orderaddress.city}} </p>
        <p class="card-text"><strong>State :</strong>{{ Orderaddress.state}} </p>
        <p class="card-text"><strong>Country :</strong>{{ Orderaddress.country}} </p>
        <p class="card-text"><strong>Pin Code :</strong>{{ Orderaddress.pincode}} </p>
         <p class="card-text"><strong>Order Amount:{{(Order.amt) | currency:"INR"}}</strong></p>

    </div>
    </div>






  </div>
  
