
<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-6">
                <hr class="light">
				<img src="../../assets/logo.jpg">
				<hr class="light">
				<p>9883190484</p>
				<p>tasneemhusain1962@gmail.com</p>
				<p>27/1/1 Shamsul Huda Road</p>
                <p>Park Circus,Kolkata-700017</p>
                <p>West Bengal,India</p>

			</div>
			<div class="col-md-6">
				<hr class="light">
				<h5>Our Hours</h5>
				<hr class="light">
                <p>Monday to Saturday:  </p>
                <p>        Morning :11am-1pm  </p>
                <p>        Day :6pm-9pm  </p>
				<p>Sunday: closed</p>

			</div>
			<div class="col-12">
				<hr class="light-100">
			</div>
		</div>
	</div>
</footer>

