<div class="card filters">
  <div class="card-header"><strong>Cart</strong></div>
<div *ngIf="!status" class="alert alert-info">Sign In to View cart</div>
<div *ngIf="status && cartItems.length == 0" class="alert alert-info">Your Cart is Empty.</div>
<ul *ngIf="cartItems.length > 0 && status" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <div class="cart-item">
      <span>{{item.productName}}</span> x <span>{{item.qty}}</span> : <strong>{{(item.qty*item.price) | currency :"INR"}}</strong>
      <button type="button" (click)="removeProd(item.productId)" class="btn-xs btn-danger">remove</button>
    </div>
  </li>
  <li class="list-group-item active">
    <strong>Total :{{ cartTotal| currency:"INR"}}</strong>
  </li>
  <br>
    <button type="button" (click)="proceed()" class="btn btn-dark">Proceed</button>
 

</ul>
</div>